<h1>All Open Source Projects</h1>
<div class="bs-example">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Owner</th>
        <th>Desription</th>
        <th>URL</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody id="table-body">
      <% if @repos.blank?  %>
        <tr ><td colspan="6">No data found.</td></tr>
      <% else %>
        <%= render partial: 'project_for_all', collection: @repos  %>
      <% end %>

    </tbody>

  </table>
</div>