<div class="page-header">

<%= render "shared/navbar" %>

<h3 class="test-center pull-right" >Developed at the University of Bucharest, Ruby on Rails laboratory</h3>

<h1 class="pull-center">Open Source Application Platform</h1>


</div>
